@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <h2>What is this?</h2>
        <p>
            Online Translator Studio is an application created by XCrossJ with the intent of easing the translation process for translators.
        </p>
    </div>
</div>
