@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Translator Studio</h1>
    <p class="lead">An online application designed especially to make translations easier for translators.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Want to get translating? Start your session immediately with no hassle whatsoever.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Studio")">Get Started &raquo;</a></p>
    </div>
</div>