<div id="desk">

    <div id="mainDeskSection">
        <div class="card-group">
            <div id="rawSection" class="card">
                <div class="card-header">
                    <h6 class="card-title">Raw</h6>
                </div>
                <div class="card-body">
                    <textarea id="CurrentRaw" class="form-control" rows="7" data-bind="textInput: CurrentRaw"></textarea>
                </div>
                <div class="card-footer">
                    <button id="decrementIndex" type="button" class="btn btn-outline-primary btn-block" data-toggle="tooltip" data-placement="bottom" title="Go to previous line"><<</button>
                </div>
            </div>
            <div id="translationSection" class="card">
                <div class="card-header">
                    <h6 class="card-title">Translation</h6>
                </div>
                <div class="card-body">
                    <textarea id="CurrentTranslation" class="form-control" rows="7" data-bind="textInput: CurrentTranslation"></textarea>
                </div>
                <div class="card-footer">
                    <button id="incrementIndex" type="button" class="btn btn-outline-primary btn-block" data-toggle="tooltip" data-placement="bottom" title="Go to next line">>></button>
                </div>
            </div>
        </div>
    </div>
</div>