@model TranslatorStudioClassLibrary.Class.TranslationData


<script src="~/Javascript/ProjectData.js"></script>
<script src="~/Javascript/TranslationData.js"></script>
<script src="~/Javascript/DeskHandler.js"></script>
<script src="~/Javascript/DeskSetup.js"></script>

<div id="desk" class="row col-xs-12">
    <h4>Translation Desk</h4>
    
    <div id="mainDeskSection" class="row col-xs-12">
        <div class="panel panel-default col-xs-12">
            <div class="panel-body">
                
                <div id="rawSection" class="col-xs-6">
                    <div class="row">
                        <label class="control-label" for="CurrentRaw">Raw</label>
                    </div>
                    <div class="row">
                        <textarea id="CurrentRaw" class="form-control" rows="5" style="max-width: 100%; width: 80%;" data-bind="textInput: CurrentRaw"></textarea>
                    </div>
                </div>

                <div id="translationSection" class="col-xs-6">
                    <div class="row">
                        <label class="control-label" for="CurrentTranslation">Translation</label>
                    </div>
                    <div class="row">
                        <textarea id="CurrentTranslation" class="form-control" rows="5" style="max-width: 100%; width: 80%;" data-bind="textInput: CurrentTranslation"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="miscSection" class="row col-xs-12">
        <div class="panel panel-default col-xs-3 pull-right">
            <div class="panel-body">

                <div id="checkSection" class="col-xs-12">
                    
                    <label class="checkbox">
                        <input id="CurrentMarked" type="checkbox" data-bind="checked: CurrentMarked" />
                        Marked For Attention
                    </label>
                    
                    <label class="checkbox">
                        <input id="CurrentCompletion" type="checkbox" data-bind="checked: CurrentCompletion" />
                        Marked as Completed
                    </label>

                </div>

            </div>
        </div>
    </div>

</div>