<script src="~/Javascript/ProgressBarComponent.js"></script>
<div class="card">
    <div class="card-header mb-0" data-toggle="collapse" data-target="#collapseStatus" aria-expanded="true" aria-controls="collapseStatus">
        <h5>Translation Status</h5>
    </div>
    <div class="collapse show" id="collapseStatus">
        <div class="card-body">
            <table class="table table-hover table-sm">
                <tbody>
                    <tr>
                        <th>
                            <label class="control-label" for="ProjectName">Project Name</label>
                        </th>
                        <td>
                            <input id="ProjectName" class="form-control form-control-sm" data-bind="value: ProjectName" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label" for="CurrentLine">Current Line</label>
                        </th>
                        <td>
                            <div id="CurrentLine" class="row">
                                <div class="col-6">
                                    <input id="CurrentIndex" type="number" min="1" class="form-control form-control-sm" data-bind="value: CurrentLineNumber, attr: { max: MaxLineNumber }" />
                                </div>
                                <div class="col-6">
                                    /<span id="MaxIndex" class="MaxIndex" data-bind="text: MaxIndex() + 1"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label" for="Progress">Progress</label>
                        </th>
                        <td>
                            <div id="Progress" class="text-center">
                                <span data-bind="text: NumberOfCompletedLines()"></span> / <span class="NumberOfLines" data-bind="text: NumberOfLines"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border-style: none">
                            <div class="row">
                                <div class="col-12">
                                    <progress-bar params="progress: CurrentProgress"></progress-bar>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>