<script src="~/Javascript/ProjectData.js"></script>
<script src="~/Javascript/TranslationData.js"></script>
<script src="~/Javascript/DeskHandler.js"></script>
<script src="~/Javascript/DeskSetup.js"></script>

@using Gem;

@{
    ViewBag.Title = "Translator Studio - Dashboard";

    //List<Furigana> furigana = new List<Furigana>();

    //foreach (var item in Model.RawLines)
    //{
    //    furigana.Add(new Furigana(item));
    //}

}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div id="status">
                @Html.Partial("_Status")
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#deskTab">Desk</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#previewTab">Preview</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div id="deskTab" class="tab-pane fade show active">
                            @Html.Partial("_Desk")
                        </div>
                        <div id="previewTab" class="tab-pane fade">
                            @Html.Partial("_Preview")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
