################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TranslatorStudioClassLibrary/.vs
/TranslatorStudio/.vs/TranslatorStudio/v15
